
    <div id="map"></div>
    <div id="right-panel">
      <p>Total Distance: <span id="total"></span></p>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAujrgIuIosFxFE7XxWVuB_rdnE9-i1xUI&signed_in=true&callback=initMap"
        async defer></script>